<main class="main">
  <div class="content">
    <p>Navigation au dessus</p>
      <p>Bienvenue sur Coup du Sort !!</p>
      <p>Choissisez le thème qui vous plait et lancer votre tirage au sort !!</p>
  </div>
     <h3>Créer Votre liste</h3>
    <textarea [(ngModel)]="newParticipants"
          placeholder="Un participant par ligne">
    </textarea>

    <button (click)="creerListe()">
      Créer
    </button>
    <p>{{ addSucess }}</p>

  <h3>Ajouter des Interdictions :</h3>

  <label>Participant 1</label>
  <select [(ngModel)]="participant1Id">
    <option *ngFor="let p of participants" [value]="p.id">
      {{ p.name }}
    </option>
  </select>

  <label>Participant 2</label>
  <select [(ngModel)]="participant2Id">
    <option *ngFor="let p of participants" [value]="p.id">
      {{ p.name }}
    </option>
  </select>

   <button (click)="ajouterRegle()">
    Ajouter la règle
   </button>

   <h3>Interdictions actuelles :</h3>

  <div *ngIf="afficherRegles">

    <p *ngIf="forbiddenAssociations.length === 0">
      Aucune règle ajoutée.
    </p>

    <p *ngFor="let regle of forbiddenAssociations">
      {{ regle.firstParticipantId }}
      ❌
      {{ regle.secondParticipantId }}
    </p>

  </div>

  <button (click)="AfficherRegles()">
    {{ afficherRegles ? 'Masquer' : 'Détails' }}
  </button>

  <h3>Système de chapeaux</h3>

  <label>
    <input 
      type="checkbox"
      [(ngModel)]="useHatSystem">
    Activer les chapeaux
  </label>

    <div *ngIf="useHatSystem">

    <label>
      Nombre de chapeaux :
    </label>

    <input 
      type="number"
      [(ngModel)]="numberOfHats"
      min="1">

    </div>

    <div *ngIf="useHatSystem">

  <h3>Choix des chapeaux</h3>

  <div *ngFor="let participant of participants">

  <label>
    {{participant.name}}
  </label>

  <select [(ngModel)]="participant.hatId">

    <option 
      *ngFor="let hat of [].constructor(numberOfHats); let i=index"
      [value]="i+1">

      Chapeau {{i+1}}

    </option>
    </select>
    </div>
    </div>

    <h3>Créer un tirage</h3>

    <button (click)="faireTirage()">
      Tirer un participant
    </button>

    <div *ngIf="resultat">
      <h3>Résultat :</h3>
      <p>{{ resultat }}</p>
   </div>
</main>

<router-outlet />
