nav{
  text-align: center;
  padding: 10px;
}

a{
  display: inline-block;
  text-decoration: none;
  margin: 30px;
  padding: 8px 15px;
  font-size: 18px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #000;
}
