/* Choses globales */

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin: 15px auto;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav.mobile-open {
    display: flex;
  }

  nav a {
    margin: 10px 0;
  }
}

nav{
  text-align: center;
  padding: 10px;
}

a{
  display: inline-block;
  text-decoration: none;
  margin: 30px;
  padding: 8px 15px;
  font-size: 18px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #000;
}

/* Thème classique */

.theme-classique{
  background-color: rgb(128, 31, 141);
  color: rgb(255, 255, 79);
}

.theme-classique body{
  background-color: rgb(128, 31, 141);
}

.theme-classique nav a {
  background-color: rgb(255, 255, 79);
  color: black;
}

/* Thème casino */

.theme-casino {
  background-color: rgb(120, 0, 0);
  color: gold;
}

.theme-casino body{
  background-color: rgb(120, 0, 0);
}

.theme-casino nav a {
  background-color: gold;
  color: black;
}

/* Thème Noel */

.theme-noel{
  background-color: rgb(171, 23, 23);
  color: rgb(44, 148, 84);
}

.theme-noel body{
  background-color: rgb(171, 23, 23);
}

.theme-noel nav a {
  background-color: rgb(44, 148, 84);
  color: white;
}


/* Thème Halloween */

.theme-halloween{
  background-color: rgb(75, 16, 83);
  color: orange;
}

.theme-halloween body{
  background-color: rgb(75, 16, 83);
}

.theme-halloween nav a {
  background-color: orange;
  color: black;
}


/* Thème Sportif */

.theme-sportif{
  background-color: rgb(41, 41, 225);
  color: rgb(101, 241, 76);
}

.theme-sportif body{
  background-color: rgb(41, 41, 225);
}

.theme-sportif nav a {
  background-color: rgb(101, 241, 76);
  color: black;
}
