/* Choses globales */

p{
  font-family: "Comic Sans MS", Arial, sans-serif;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

.logo{
   align-items: center;
   max-width: 250px; 
   display: block;
   margin: auto;
}

h3{
  font-family: "Comic Sans MS", Arial, sans-serif;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

.creerliste{
  align-items: center;
  display: block;
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}

.createList{
  width: 90%;
  max-width: 500px;
  height: 250px;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
  align-items: center;
  display: block;
  margin: auto;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 16px;
}

.createListbutton{
  text-align: center;
  padding: 10px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 16px;
}

.center-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 16px;
}

.activate-option {
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.activate-option input {
  width: 15px;
  height: 15px;
}

.showrules-container{
  text-align: center;
}

.norules{
  font-family: "Comic Sans MS", Arial, sans-serif;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

.participant{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}

.new_rules{
  text-align: center;
  padding: 10px;
}

.addrulesbutton{
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}

.forbiddenassociation{
  font-family: "Comic Sans MS", Arial, sans-serif;
  text-align: center;
  padding: 15px;
  font-size: 16px;
}

.showrules{
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}

.hatchoice{
  text-align: center;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}

.hatnumber{
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}

.numberofhat{
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 16px;
}

.tirerparticipant{
  align-items: center;
  display: block;
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
}
